<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <h2>Calculator</h2>
    <form class="example-form">
      <div class="form-group">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Execution time (ms)">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Lambda size">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Request number">
        </md-input-container>
      </div>
      <div class="form-group">
        <button md-raised-button>Calculate</button>
      </div>
    </form>
  </div>
</div>
